test/testdata/testcase8/shortSettlementPWA3.5-A.3.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/IPDR"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/IPDR"
	 version = "3.5"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.ipdr.org/namespaces/IPDR" schemaLocation = "IPDRDoc3.5.xsd"/>
        <include schemaLocation = "IPDRTypes.xsd"/>
			<element name = "userName" type = "string"/>
			<element name = "intermediaryName"  type = "string"/>
        <element name = "IPDRembedded">
	    <complexType>
		<sequence>
			<element ref = "userName"/>
			<element ref = "intermediaryName" minOccurs = "0"/>
		</sequence>
	    </complexType>
        </element>
	<element name = "serviceDefinition" type = "string"/>
	<element name = "IPDRembed" type = "IPDRembedded"/>
	<element name = "usageModule">
		<complexType>
			<sequence>
				<element ref = "serviceDefinition"/>
            <element ref = "IPDRembed" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	
	<element name = "settlementInfo" type = "usageModule"/>
	<complexType name = "IPDR-Settlement-Type">
                <complexContent>
                        <extension base="ipdr:IPDRType">
  			    <sequence>
				<element ref = "settlementInfo" maxOccurs = "unbounded"/>
			    </sequence>
                        </extension>
                </complexContent>
	</complexType>
</schema>
