test/testdata/schema35examples/IPDRTypes.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema" version = "3.5">
	<simpleType name = "dateTimeMsec">
		<annotation>
			<documentation>
 This type supports time resolution at the millisecond level It is further constrained to always use the timezone designator "Z" indicating GMT. Quantities of this type can optionally use 3 digits of fraction after the second to represent the milliseconds.  If absent, it is assumed the millisecond component is ".000".
Example:  1999-05-31T13:20:00.561Z
             
			</documentation>
		</annotation>
		<restriction base = "string">
			<pattern value = "[0-9]{4}\-[0-9]{2}\-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(\.[0-9]{3})?Z"/>
		</restriction>
	</simpleType>
	<simpleType name = "ipV4Addr">
		<annotation>
			<documentation>
    An IP version 4 address in dotted notation decimal. Example:  15.13.120.22
                    
			</documentation>
		</annotation>
		<restriction base = "string">
			<pattern value = "[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}"/>
		</restriction>
	</simpleType>
	<simpleType name = "ipV6Addr">
		<annotation>
			<documentation>
                 An IP version 6 address in colon separated 2 byte block 
                 hexadecimal notation.
                 Example:  FEDC:AB19:12FE:0234:98EF:1178:8891:CAFF
             
			</documentation>
		</annotation>
		<restriction base = "string">
			<pattern value = "[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}:[0-9a-fA-F]{4}"/>
		</restriction>
	</simpleType>
	<simpleType name = "UUID">
		<annotation>
			<documentation>
                 A universal unique id in hex dash notation.
                 Example:  f81d4fae-7dec-11d0-a765-00a0c91e6bf6
             
			</documentation>
		</annotation>
		<restriction base = "string">
			<pattern value = "[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}"/>
		</restriction>
	</simpleType>
</schema>