c_ipdrbase_2.0.0/test/testdata/testcase8/shortSettlementPWA3.5-A.0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/IPDR"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/IPDR"
	 version = "3.5"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.ipdr.org/namespaces/IPDR" schemaLocation = "IPDRDoc3.5.xsd"/>
        <include schemaLocation = "IPDRTypes.xsd"/>
	<element name = "serviceDefinition" type = "string"/>
	<element name = "usageModule">
		<complexType>
			<sequence>
				<element ref = "serviceDefinition"/>
			</sequence>
		</complexType>
	</element>
	<element name="usageMod" type="usageModule"/>
	<element name = "settlementInformation">
		<complexType>
			<sequence>
				<element ref = "usageMod" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="settlementInfo" type="settlementInformation"/>
	<complexType name = "IPDR-Settlement-Type">
                <complexContent>
                        <extension base="ipdr:IPDRType">
  			    <sequence>
				<element ref = "settlementInfo" maxOccurs = "unbounded"/>
			    </sequence>
                        </extension>
                </complexContent>
	</complexType>
</schema>
