c_ipdrbase_2.0.0/test/testdata/testcase8/VoIP3.5-A.0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
				<!--targetNamespace = "http://www.ipdr.org/namespaces/ipdr"-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/VoIP"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/IPDR"
    xmlns:VoIP = "http://www.ipdr.org/namespaces/VoIP"
	 version = "3.5-A.0"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
        <include schemaLocation = "http://www.ipdr.org/public/IPDRTypes.xsd"/>
        <!--import namespace = "http://www.ipdr.org/namespaces/IPDR" schemaLocation = "http://www.ipdr.org/public/IPDRDoc3.5.xsd"/-->
        <import namespace = "http://www.ipdr.org/namespaces/IPDR" schemaLocation = "IPDRDoc3.5.xsd"/>
	<element name = "subscriberID" type = "string"/>
	<element name = "hostName" type = "string"/>
	<element name = "ipAddress" type = "ipdr:ipV4Addr">
		<annotation>
			<documentation>
	This element has a conditional presence.  The business rule that indicates presence is under study.
			
			</documentation>
		</annotation>
	</element>
	<element name = "startTime" type = "ipdr:dateTimeMsec"/>
	<element name = "endTime" type = "ipdr:dateTimeMsec"/>
	<element name = "timeZoneOffset" type = "integer">
		<annotation>
			<appinfo>
				<units>minutes</units>
			</appinfo>
			<documentation>
	Number of minutes ahead (+) or behind (-) GMT of the local time zone in which the service is consumed.
			
			</documentation>
		</annotation>
	</element>
	<element name = "callCompletionCode" type = "string"/>
	<element name = "originalDestinationId" type = "string"/>
	<element name = "uniqueCallId" type = "string"/>
	<element name = "imsiIngress" type = "integer"/>
	<element name = "esnIngress" type = "integer"/>
	<element name = "callProgressState" type = "integer"/>
	<element name = "disconnectReason" type = "string"/>
	<element name = "destinationId" type = "string"/>
	<element name = "thirdPartyId" type = "string"/>
	<element name = "ani" type = "string"/>
	<element name = "oLIiiDigit" type = "string"/>
	<element name = "iiDigits" type = "string"/>
	<element name = "dnis" type = "string"/>
	<element name = "pin" type = "string"/>
	<element name = "serviceConsumerType" type = "string"/>
	<element name = "startAccessTime" type = "ipdr:dateTimeMsec"/>
	<element name = "endAccessTime" type = "ipdr:dateTimeMsec"/>
	<element name = "callSetupDuration" type = "integer"/>
	<element name = "callDuration" type = "integer"/>
	<element name = "totalDuration" type = "integer"/>
	<element name = "tearDownDuration" type = "integer"/>
	<element name = "averagePacketLatency" type = "integer"/>
	<element name = "type" type = "string"/>
	<element name = "paymentType" type = "string"/>
	<element name = "feature" type = "string"/>
	<element name = "incomingCodec" type = "string"/>
	<element name = "outgoingCodec" type = "string"/>
	<element name = "silenceCompressionMode" type = "string"/>
	<element name = "modem" type = "string"/>
	<element name = "supplementaryService" type = "string"/>
	<element name = "extendedReasonCode" type = "string"/>
	<element name = "disconnectLocation" type = "string"/>
	<element name = "proprietaryErrorCode" type = "integer"/>
	<element name = "unitsConsumed" type = "integer"/>
	<element name = "inboundByteCount" type = "integer"/>
	<element name = "outboundByteCount" type = "integer"/>
	<element name = "inboundPacketCount" type = "integer"/>
	<element name = "outboundPacketCount" type = "integer"/>
	<element name = "inboundLostPacketCount" type = "integer"/>
	<element name = "outboundLostPacketCount" type = "integer"/>
	<element name = "inboundRxmtPacketCount" type = "integer"/>
	<element name = "outboundRxmtPacketCount" type = "integer"/>
	<element name = "subscribedQoSClasses" type = "integer"/>
	<element name = "callClarityIndex" type = "integer"/>
	<element name = "voiceQualityIndex" type = "integer"/>
	<element name = "transmissionRatingRFactor" type = "integer">
		<annotation>
			<documentation>
				The E-Model Quality Rating Factor, per ITU-T Recommendation 
				G.107, "The E-Model, A Computational Model for Use in 
				Transmission Planning", R=100 (excellent) to 0 (bad).
			
			</documentation>
		</annotation>
	</element>
	<element name = "userPerceivedRFactor" type = "integer">
		<annotation>
			<documentation>
				Alternative user perceived R factor derived from E-Model
				and IP network performance statistics.
				See ETSI TS-101-329-5 V1.1.1 (2000-11), Annex-E.
				R=100 (excellent) to 0 (bad).
			
			</documentation>
		</annotation>
	</element>
	<element name = "faxPerformanceMetric" type = "integer"/>
	<element name = "faxPageTxCount" type = "integer"/>
	<element name = "faxPageRxCount" type = "integer"/>
	<element name = "packetLossPercentage" type = "float"/>
	<element name = "outOfSequencePackets" type = "integer"/>
	<element name = "correctSequencePackets" type = "integer"/>
	<element name = "packetDelayVariation" type = "integer"/>
	<element name = "ipAddressIngressDevice" type = "string"/>
	<element name = "ipAddressEgressDevice" type = "string"/>
	<element name = "portNumber" type = "string"/>
	<element name = "imsiEngress" type = "string"/>
	<element name = "esnEgress" type = "string"/>
	<element name = "homeLocationIngress" type = "string"/>
	<element name = "homeLocationIdEgress" type = "string"/>
	<complexType name = "IPDR-VoIP-Type">
		<complexContent>
			<extension base = "ipdr:IPDRType">
				<sequence>
					<element ref = "VoIP:subscriberID"/>
					<element ref = "VoIP:hostName"/>
					<element ref = "VoIP:ipAddress" minOccurs = "0"/>
					<element ref = "VoIP:startTime"/>
					<element ref = "VoIP:endTime"/>
					<element ref = "VoIP:timeZoneOffset"/>
					<element ref = "VoIP:callCompletionCode"/>
					<element ref = "VoIP:originalDestinationId"/>
					<element ref = "VoIP:uniqueCallId"/>
					<element ref = "VoIP:imsiIngress" minOccurs = "0"/>
					<element ref = "VoIP:esnIngress" minOccurs = "0"/>
					<element ref = "VoIP:callProgressState" minOccurs = "0"/>
					<element ref = "VoIP:disconnectReason" minOccurs = "0"/>
					<element ref = "VoIP:destinationId" minOccurs = "0"/>
					<element ref = "VoIP:thirdPartyId" minOccurs = "0"/>
					<element ref = "VoIP:ani" minOccurs = "0"/>
					<element ref = "VoIP:oLIiiDigit" minOccurs = "0"/>
					<element ref = "VoIP:iiDigits" minOccurs = "0"/>
					<element ref = "VoIP:dnis" minOccurs = "0"/>
					<element ref = "VoIP:pin" minOccurs = "0"/>
					<element ref = "VoIP:serviceConsumerType" minOccurs = "0"/>
					<element ref = "VoIP:startAccessTime" minOccurs = "0"/>
					<element ref = "VoIP:endAccessTime" minOccurs = "0"/>
					<element ref = "VoIP:callSetupDuration" minOccurs = "0"/>
					<element ref = "VoIP:callDuration" minOccurs = "0"/>
					<element ref = "VoIP:totalDuration" minOccurs = "0"/>
					<element ref = "VoIP:tearDownDuration" minOccurs = "0"/>
					<element ref = "VoIP:averagePacketLatency" minOccurs = "0"/>
					<element ref = "VoIP:type" minOccurs = "0"/>
					<element ref = "VoIP:paymentType" minOccurs = "0"/>
					<element ref = "VoIP:feature" minOccurs = "0" maxOccurs = "unbounded"/>
					<element ref = "VoIP:incomingCodec" minOccurs = "0"/>
					<element ref = "VoIP:outgoingCodec" minOccurs = "0"/>
					<element ref = "VoIP:silenceCompressionMode" minOccurs = "0"/>
					<element ref = "VoIP:modem" minOccurs = "0"/>
					<element ref = "VoIP:supplementaryService" minOccurs = "0"/>
					<element ref = "VoIP:extendedReasonCode" minOccurs = "0"/>
					<element ref = "VoIP:disconnectLocation" minOccurs = "0"/>
					<element ref = "VoIP:proprietaryErrorCode" minOccurs = "0"/>
					<element ref = "VoIP:unitsConsumed" minOccurs = "0"/>
					<element ref = "VoIP:inboundByteCount" minOccurs = "0"/>
					<element ref = "VoIP:outboundByteCount" minOccurs = "0"/>
					<element ref = "VoIP:inboundPacketCount" minOccurs = "0"/>
					<element ref = "VoIP:outboundPacketCount" minOccurs = "0"/>
					<element ref = "VoIP:inboundLostPacketCount" minOccurs = "0"/>
					<element ref = "VoIP:outboundLostPacketCount" minOccurs = "0"/>
					<element ref = "VoIP:inboundRxmtPacketCount" minOccurs = "0"/>
					<element ref = "VoIP:outboundRxmtPacketCount" minOccurs = "0"/>
					<element ref = "VoIP:subscribedQoSClasses" minOccurs = "0"/>
					<element ref = "VoIP:callClarityIndex" minOccurs = "0"/>
					<element ref = "VoIP:voiceQualityIndex" minOccurs = "0"/>
					<element ref = "VoIP:transmissionRatingRFactor" minOccurs = "0"/>
					<element ref = "VoIP:userPerceivedRFactor" minOccurs = "0"/>
					<element ref = "VoIP:faxPerformanceMetric" minOccurs = "0"/>
					<element ref = "VoIP:faxPageTxCount" minOccurs = "0"/>
					<element ref = "VoIP:faxPageRxCount" minOccurs = "0"/>
					<element ref = "VoIP:packetLossPercentage" minOccurs = "0"/>
					<element ref = "VoIP:outOfSequencePackets" minOccurs = "0"/>
					<element ref = "VoIP:correctSequencePackets" minOccurs = "0"/>
					<element ref = "VoIP:packetDelayVariation" minOccurs = "0"/>
					<element ref = "VoIP:ipAddressIngressDevice" minOccurs = "0"/>
					<element ref = "VoIP:ipAddressEgressDevice" minOccurs = "0"/>
					<element ref = "VoIP:portNumber" minOccurs = "0"/>
					<element ref = "VoIP:imsiEngress" minOccurs = "0"/>
					<element ref = "VoIP:esnEgress" minOccurs = "0"/>
					<element ref = "VoIP:homeLocationIngress" minOccurs = "0"/>
					<element ref = "VoIP:homeLocationIdEgress" minOccurs = "0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>
