c_ipdrbase_2.0.0/test/testdata/schema35examples/IPDRSettlementDoc3.5.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/IPDRSettlement"
	 xmlns:IPDRSettlement = "http://www.ipdr.org/namespaces/IPDRSettlement"
	 xmlns:ipdr = "http://www.ipdr.org/public"
	 version = "3.5"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.ipdr.org/public" schemaLocation = "test/schema35examples/IPDRDoc3.5.xsd"/>
	<element name = "chargeUnits" type = "integer"/>
	<element name = "exponent" type = "integer"/>
	<element name = "currencyCode" type = "string">
		<annotation>
			<appinfo>
				<ipdr:reference>ISO4217:2001</ipdr:reference>
			</appinfo>
		</annotation>
	</element>
	<element name = "charges">
		<complexType>
			<sequence>
				<element ref = "IPDRSettlement:chargeUnits"/>
				<element ref = "IPDRSettlement:exponent"/>
				<element ref = "IPDRSettlement:currencyCode"/>
				<element ref = "IPDRSettlement:tax" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "tax">
		<complexType>
			<sequence>
				<element name = "taxPercentage" type = "integer"/>
				<element name = "taxAmount" type = "integer"/>
				<element ref = "IPDRSettlement:exponent"/>
				<element ref = "IPDRSettlement:currencyCode"/>
				<element name = "taxType">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											National
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Regional
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											National
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "4">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Local/City
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "5">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Province
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "6">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Dominion
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "7">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Gross Receipts
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "8">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Absolute/fixed (no rate specified)
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "9">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Public Utilities
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "10">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Sales and Use
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "11">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Excise
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "12">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Communications
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "13">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Value Added Tax (VAT)
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "14">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Harmonized
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name = "settlementHeader">
		<complexType>
			<sequence>
				<element name = "homeServiceProviderType">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											WISP or ISP or MSO
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Landline or Fixed
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											CDMA
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "4">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											GSM
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
				<element name = "homeServiceProvider" type = "string"/>
				<element name = "accessServiceProviderType">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											WISP or ISP or MSO
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Landline or Fixed
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											CDMA
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "4">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											GSM
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
				<element name = "accessProviderType" type = "string"/>
				<element name = "accessServiceProvider" type = "string"/>
				<element ref = "IPDRSettlement:retailChargeTotal" minOccurs = "0"/>
				<element ref = "IPDRSettlement:ARPeriodStart" minOccurs = "0"/>
				<element ref = "IPDRSettlement:ARPeriodEnd" minOccurs = "0"/>
				<element name = "wholesaleChargeTotal">
					<complexType>
						<sequence>
							<element ref = "IPDRSettlement:charges"/>
						</sequence>
					</complexType>
				</element>
				<element name = "documentType">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Aggregate
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Detailed
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Both
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "4">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Audit
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
				<element ref = "IPDRSettlement:numberSummaryRecords" minOccurs = "0"/>
				<element ref = "IPDRSettlement:numberSettlementRecords" minOccurs = "0"/>
				<element name = "basisForTotals">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											dateTime
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											service
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											geography
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name = "usageModule">
		<complexType>
			<sequence>
				<element name = "serviceDefinition" type = "string"/>
				<element name = "serviceName">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Public WLAN Access
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											VoIP
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Streaming Media
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "4">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Content
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "5">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Content
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "6">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Internet Access
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "7">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											e-Mail
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
				<element name = "moduleType">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Aggregate
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Detail
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											Audit
										</ipdr:enumMeaning>
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
				<element ref = "IPDRSettlement:unitOfMeasure" minOccurs = "0"/>
				<element ref = "IPDRSettlement:chargeableQuantity" minOccurs = "0"/>
				<element ref = "IPDRSettlement:numberVisitors" minOccurs = "0"/>
				<element ref = "IPDRSettlement:resourceRate" minOccurs = "0"/>
				<element ref = "IPDRSettlement:retailCharge" minOccurs = "0"/>
				<element name = "wholesaleCharge">
					<complexType>
						<sequence>
							<element ref = "IPDRSettlement:charges"/>
						</sequence>
					</complexType>
				</element>
				<element name = "aggregationBasis">
					<simpleType>
						<restriction base = "integer">
							<enumeration value = "1">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											dateTime
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "2">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											service
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
							<enumeration value = "3">
								<annotation>
									<appinfo>
										<ipdr:enumMeaning>
											geography
										</ipdr:enumMeaning>
									
									
									</appinfo>
								</annotation>
							</enumeration>
						</restriction>
					</simpleType>
				</element>
				<element ref = "ipdr:IPDR" minOccurs = "0"/>
			</sequence>
		</complexType>
	</element>
	<element name = "retailChargeTotal">
		<complexType>
			<sequence>
				<element ref = "IPDRSettlement:charges"/>
			</sequence>
		</complexType>
	</element>
	<element name = "retailCharge">
		<complexType>
			<sequence>
				<element ref = "IPDRSettlement:charges"/>
			</sequence>
		</complexType>
	</element>
	<element name = "numberSummaryRecords" type = "integer"/>
	<element name = "numberSettlementRecords" type = "integer"/>
	<element name = "ARPeriodStart" type = "dateTime"/>
	<element name = "ARPeriodEnd" type = "dateTime"/>
	<element name = "unitOfMeasure">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Bytes
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "2">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Seconds
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "3">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Minutes
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "4">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Hours
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "5">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Days
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "6">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Sessions/Connections
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "7">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Incoming Volume
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "8">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Outgoing Volume
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "9">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Total Volume
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "10">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Duration Based Charge
							</ipdr:enumMeaning>
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "chargeableQuantity" type = "integer"/>
	<element name = "numberVisitors" type = "integer"/>
	<element name = "resourceRate" type = "integer"/>
	<element name = "settlementInformation">
		<complexType>
			<sequence>
				<element ref = "IPDRSettlement:settlementHeader"/>
				<element ref = "IPDRSettlement:usageModule" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "IPDRsettlementDoc">
		<complexType>
			<sequence>
				<element ref = "IPDRSettlement:settlementInformation" maxOccurs = "unbounded"/>
				<element ref = "ipdr:IPDRDoc.End" minOccurs = "0"/>
			</sequence>
			<attribute name = "docId" use = "required" type = "string"/>
			<attribute name = "version" type = "string"/>
			<attribute name = "creationTime" type = "ipdr:dateTimeMsec"/>
			<attribute name = "IPDRRecorderInfo" type = "string"/>
		</complexType>
	</element>
</schema>