c_ipdrbase_2.0.0/test/testdata/schema35examples/IPDRDoc3.5.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/IPDR"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/IPDR"
	 version = "3.5">
	<include schemaLocation = "test/schema35examples/IPDRTypes.xsd"/>
	<element name = "IPDRDoc">
		<annotation>
			<documentation>
                         The IPDRDoc element is the top-level container of a set of IPDRs. The document will also define the entity which recorded these IPDRs via the IPDR element.
			</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref = "ipdr:IPDR" maxOccurs = "unbounded"/>
				<element ref = "ipdr:IPDRDoc.End" minOccurs = "0"/>
			</sequence>
			<attribute name = "docId" use = "required" type = "string"/>
			<attribute name = "version" type = "string"/>
			<attribute name = "creationTime" type = "ipdr:dateTimeMsec"/>
			<attribute name = "IPDRRecorderInfo" type = "string"/>
		</complexType>
	</element>
	<element name = "IPDRDoc.End">
		<annotation>
			<documentation>
                    The IPDRDoc.End element optionally marks the end of the IPDR block. It may contain some check information like a count of IPDRs.
                       
			</documentation>
		</annotation>
		<complexType>
			<attribute name = "count" type = "integer"/>
			<attribute name = "endTime" type = "ipdr:dateTimeMsec"/>
		</complexType>
	</element>
	<element name = "IPDRCreationTime" type = "ipdr:dateTimeMsec"/>
	<element name = "seqNum" type = "integer"/>
	<complexType name = "IPDRType"
		 final = "restriction">
		<annotation>
			<documentation>
                       This is the base type for the IPDR element. The service-specific schema can extend this by deriving from it.
                    
			</documentation>
		</annotation>
		<sequence>
			<element ref = "ipdr:IPDRCreationTime" minOccurs = "0"/>
			<element ref = "ipdr:seqNum" minOccurs = "0"/>
		</sequence>
	</complexType>
	<element name = "IPDR" type = "ipdr:IPDRType">
		<annotation>
			<documentation> 
                         An IPDR describes an event between a service consumer and a service element. Details of the event are contained within this record.  All IPDR elements have a time    indicating when the event occurred.  
                      
			</documentation>
		</annotation>
	</element>
</schema>
