c_ipdrbase_2.0.0/test/testdata/schema35examples/PublicWLANAccess3.5-A.0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/PWA"
	 xmlns:PWA = "http://www.ipdr.org/namespaces/PWA"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/IPDR"
	 version = "3.5-A.0"
	 elementFormDefault = "qualified">
	<import namespace = "http://www.ipdr.org/namespaces/IPDR" schemaLocation = "test/schema35examples/IPDRDoc3.5.xsd"/>
        <include schemaLocation = "test/schema35examples/IPDRTypes.xsd"/>
	<element name = "timeZoneOffset" type = "int">
		<annotation>
			<appinfo>
				<ipdr:units>minutes</ipdr:units>
			</appinfo>
			<appinfo>
				Number of minutes ahead (+) or behind (-) UMT of the local time zone in which the service is consumed.
			
			
			
			
			
			
			
			</appinfo>
		</annotation>
	</element>
	<element name = "userName" type = "string"/>
	<element name = "subscriberIDType">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								IMSI
							</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "2">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								MIN
							</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "3">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								MDN
							</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "subscriberID" type = "string"/>
	<element name = "sessionID" type = "string"/>
	<element name = "userIPAddr" type = "hexBinary"/>
	<element name = "callingStationID" type = "string">
		<annotation>
			<appinfo>
				<ipdr:reference>RFC 3580, Section 3.21</ipdr:reference>
			</appinfo>
		</annotation>
	</element>
	<element name = "locationPort" type = "string"/>
	<element name = "calledStationID" type = "string">
		<annotation>
			<appinfo>
				<ipdr:reference>RFC 3580, Section 3.20</ipdr:reference>
			</appinfo>
		</annotation>
	</element>
	<element name = "NASIPaddress" type = "hexBinary"/>
	<element name = "NASID" type = "string"/>
	<element name = "venueOwnerName" type = "string"/>
	<element name = "locationName" type = "string"/>
	<element name = "locationID" type = "string"/>
	<element name = "locationType" type = "string"/>
	<element name = "locationCountryCode">
		<annotation>
			<appinfo>
				<ipdr:reference>ISO 3166-2:1998</ipdr:reference>
			</appinfo>
		</annotation>
		<simpleType>
			<restriction base = "string">
				<length value = "2"/>
			</restriction>
		</simpleType>
	</element>
	<element name = "locationStateProvince" type = "string"/>
	<element name = "locationCity" type = "string"/>
	<element name = "locationGeocodeType">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								UTM
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "2">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								OSGB
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "3">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Lat/Long
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "NASPortType" type = "integer">
		<annotation>
			<appinfo>
				<ipdr:reference>RFC 2865</ipdr:reference>
			</appinfo>
		</annotation>
	</element>
	<element name = "paymentType" type = "string"/>
	<element name = "networkConnectionType">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>802.11a</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "2">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>802.11b</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "3">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>802.11G</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "4">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>Ethernet</ipdr:enumMeaning>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "sessionDuration" type = "integer"/>
	<element name = "unitOfMeasure">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Bytes
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "2">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Seconds
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "3">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Minutes
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "4">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Hours
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "5">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Days
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "6">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Sessions/Connections
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "7">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Incoming Volume
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "8">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Outgoing Volume
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "9">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Total Volume
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "10">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Duration Based Charge
							</ipdr:enumMeaning>
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "chargeableUnit">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Event Based Charge
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "2">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Fixed (one-off) Charge
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "3">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Content
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "4">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Duration Based Charge
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "chargeableQuantity" type = "integer"/>
	<element name = "inputOctets" type = "integer"/>
	<element name = "outputOctets" type = "integer"/>
	<element name = "class" type = "string"/>
	<element name = "GMTSessionStartDateTime">
		<complexType>
			<sequence>
				<element name = "sessionStartDateTime" type = "ipdr:dateTimeMsec"/>
				<element ref = "PWA:timeZoneOffset"/>
			</sequence>
		</complexType>
	</element>
	<element name = "GMTSessionEndDateTime">
		<complexType>
			<sequence>
				<element name = "sessionEndDateTime" type = "ipdr:dateTimeMsec"/>
				<element ref = "PWA:timeZoneOffset"/>
			</sequence>
		</complexType>
	</element>
	<element name = "sessionTerminationCause">
		<simpleType>
			<restriction base = "integer">
				<enumeration value = "1">
					<annotation>
						<appinfo>
						<appinfo>
							<ipdr:enumMeaning>
								Explicit Logoff
							</ipdr:enumMeaning>						
						</appinfo>
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "4">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Idle Timeout
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "5">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Session Timeout
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "6">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								Admin Reset
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "9">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								NAS Error
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "10">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								NAS Request
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "11">
					<annotation>
						<appinfo>
							<ipdr:enumMeaning>
								NAS Reboot
							</ipdr:enumMeaning>						
						
						
						
						
						
						
						
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "relatedIPDR">
		<complexType>
			<sequence>
				<element name = "relatedIPDRDocID" type = "ipdr:UUID"/>
				<element name = "relatedIPDRSeqNum" type = "integer"/>
			</sequence>
		</complexType>
	</element>
	<element name = "intermediaryName" type = "string"/>
	<element name = "billingClassOfService" type = "string"/>
	<element name = "chargeUnits" type = "integer"/>
	<element name = "exponent" type = "integer"/>
	<element name = "currencyCode" type = "string">
		<annotation>
			<appinfo>
				<ipdr:reference>ISO4217:2001</ipdr:reference>
			</appinfo>
		</annotation>
	</element>
	<complexType name = "PublicWLANAccessUsageEntry">
		<complexContent>
			<extension base = "ipdr:IPDRType">
				<sequence>
					<element ref = "PWA:userName"/>
					<element ref = "PWA:subscriberIDType" minOccurs = "0"/>
					<element ref = "PWA:subscriberID" minOccurs = "0"/>
					<element ref = "PWA:sessionID"/>
					<element ref = "PWA:relatedIPDR" minOccurs = "0" maxOccurs = "unbounded"/>
					<element ref = "PWA:userIPAddr" minOccurs = "0"/>
					<element ref = "PWA:callingStationID"/>
					<element ref = "PWA:locationPort"/>
					<element ref = "PWA:calledStationID"/>
					<element ref = "PWA:NASIPaddress"/>
					<element ref = "PWA:NASID"/>
					<element ref = "PWA:venueOwnerName" minOccurs = "0"/>
					<element ref = "PWA:locationName"/>
					<element ref = "PWA:locationID" minOccurs = "0"/>
					<element ref = "PWA:locationType" minOccurs = "0"/>
					<element ref = "PWA:locationCountryCode"/>
					<element ref = "PWA:locationStateProvince"/>
					<element ref = "PWA:locationCity"/>
					<element ref = "PWA:locationGeocodeType" minOccurs = "0"/>
					<element ref = "PWA:NASPortType"/>
					<element ref = "PWA:paymentType" minOccurs = "0"/>
					<element ref = "PWA:networkConnectionType"/>
					<element ref = "PWA:sessionDuration"/>
					<element ref = "PWA:unitOfMeasure"/>
					<element ref = "PWA:chargeableUnit"/>
					<element ref = "PWA:chargeableQuantity"/>
					<element ref = "PWA:inputOctets"/>
					<element ref = "PWA:outputOctets"/>
					<element ref = "PWA:class" minOccurs = "0"/>
					<element ref = "PWA:GMTSessionStartDateTime"/>
					<element ref = "PWA:GMTSessionEndDateTime"/>
					<element ref = "PWA:sessionTerminationCause"/>
					<element ref = "PWA:billingClassOfService" minOccurs = "0"/>
					<element ref = "PWA:intermediaryName" minOccurs = "0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>