c_ipdrbase_2.0.0/test/testdata/schema35examples/WISPrVSAs.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/ipdr"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/ipdr"
	 xmlns:WISPr = "http://www.ipdr.org/namespaces/WiFiAlliance/WISPr"
	 xmlns:RADIUS = "http://www.ipdr.org/namespaces/RADIUS"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<include schemaLocation = "test/schema35examples/IPDRDoc3.5.xsd"/>
	<element name = "User-Name" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>1</RADIUS:attribute>
			</appinfo>
			<documentation>User enters full NAI</documentation>
		</annotation>
	</element>
	<element name = "User-Password" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>2</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "NAS-IP-Address" type = "ipdr:ipV4Addr"/>
	<element name = "Service-Type" type = "int" fixed = "1">
		<annotation>
			<appinfo>
				<RADIUS:attribute>6</RADIUS:attribute>
			</appinfo>
			<documentation>IP Address of the Access Gateway</documentation>
		</annotation>
	</element>
	<element name = "Framed-IP-Address" type = "ipdr:ipV4Addr">
		<annotation>
			<appinfo>
				<RADIUS:attribute>8</RADIUS:attribute>
			</appinfo>
			<documentation>Must be set to Login (1)</documentation>
		</annotation>
	</element>
	<element name = "Reply-Message" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>18</RADIUS:attribute>
			</appinfo>
			<documentation>Text of reject reason, if present</documentation>
		</annotation>
	</element>
	<element name = "State" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>24</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Class" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>25</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Session-Timeout" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>27</RADIUS:attribute>
			</appinfo>
			<documentation>Forced logout once timeout period reached (seconds)</documentation>
		</annotation>
	</element>
	<element name = "Idle-Timeout" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>28</RADIUS:attribute>
			</appinfo>
			<documentation>Implicit logout inactivity timeout period (seconds)</documentation>
		</annotation>
	</element>
	<element name = "Called-Station-ID" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>30</RADIUS:attribute>
			</appinfo>
			<documentation>This field should contain the MAC address or other information identifying the Access Gateway</documentation>
		</annotation>
	</element>
	<element name = "NAS-ID" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>32</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Acct-Status-Type">
		<annotation>
			<appinfo>
				<RADIUS:attribute>40</RADIUS:attribute>
			</appinfo>
			<documentation>1=Start, 2=Stop, 3=Interim Update</documentation>
		</annotation>
		<simpleType>
			<restriction base = "string">
				<enumeration value = "Start">
					<annotation>
						<appinfo>
							<ipdr:enumid>1</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "Stop">
					<annotation>
						<appinfo>
							<ipdr:enumid>2</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "Interim Update">
					<annotation>
						<appinfo>
							<ipdr:enumid>3</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "Acct-Delay-Time" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>41</RADIUS:attribute>
			</appinfo>
			<documentation>Delay (seconds) between Acctg Event and when Acctg-Req sent (doesn't include estimated network transmit time)</documentation>
		</annotation>
	</element>
	<element name = "Acct-Input-Octets" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>42</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Acct-Output-Octets" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>43</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Acct-Session-ID" type = "string">
		<annotation>
			<appinfo>
				<RADIUS:attribute>44</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Acct-Session-Time" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>46</RADIUS:attribute>
			</appinfo>
			<documentation>Call duration in seconds (already compensated for idle timeout)</documentation>
		</annotation>
	</element>
	<element name = "Acct-Input-Packets" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>47</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Acct-Output-Packets" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>48</RADIUS:attribute>
			</appinfo>
		</annotation>
	</element>
	<element name = "Acct-Terminate-Cause">
		<annotation>
			<appinfo>
				<RADIUS:attribute>49</RADIUS:attribute>
			</appinfo>
			<documentation>1=Explicit Logoff, 4=Idle Timeout, 5=Session Timeout, 6=Admin Request, 9=NAS Error, 10=NAS Request, 11=NAS Reboot</documentation>
		</annotation>
		<simpleType>
			<restriction base = "string">
				<enumeration value = "Explicit Logoff">
					<annotation>
						<appinfo>
							<ipdr:enumid>1</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "Idle Timeout">
					<annotation>
						<appinfo>
							<ipdr:enumid>4</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "Session Timeout">
					<annotation>
						<appinfo>
							<ipdr:enumid>5</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "Admin Request">
					<annotation>
						<appinfo>
							<ipdr:enumid>6</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "NAS Error">
					<annotation>
						<appinfo>
							<ipdr:enumid>9</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "NAS Request">
					<annotation>
						<appinfo>
							<ipdr:enumid>10</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "NAS Reboot">
					<annotation>
						<appinfo>
							<ipdr:enumid>11</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "NAS-Port-Type">
		<annotation>
			<appinfo>
				<RADIUS:attribute>61</RADIUS:attribute>
			</appinfo>
			<documentation>15=Ethernet, 19=802.11</documentation>
		</annotation>
		<simpleType>
			<restriction base = "string">
				<enumeration value = "Ethernet">
					<annotation>
						<appinfo>
							<ipdr:enumid>15</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
				<enumeration value = "802.11">
					<annotation>
						<appinfo>
							<ipdr:enumid>19</ipdr:enumid>
						</appinfo>
					</annotation>
				</enumeration>
			</restriction>
		</simpleType>
	</element>
	<element name = "Acct-Interim-Interval" type = "int">
		<annotation>
			<appinfo>
				<RADIUS:attribute>85</RADIUS:attribute>
			</appinfo>
			<documentation>Interval (seconds) to send accounting updates</documentation>
		</annotation>
	</element>
	<element name = "Location-ID" type = "string">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>1</WISPr:VSANumber>
			</appinfo>
			<documentation>Hotspot Location Identifier</documentation>
		</annotation>
	</element>
	<element name = "Location-Name" type = "int">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>2</WISPr:VSANumber>
			</appinfo>
			<documentation>Hotspot Location and Operator's Name</documentation>
		</annotation>
	</element>
	<element name = "Logoff-URL" type = "anyURI">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>3</WISPr:VSANumber>
			</appinfo>
			<documentation>URL for user to perfomr explicit logoff</documentation>
		</annotation>
	</element>
	<element name = "Redirection-URL" type = "anyURI">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>4</WISPr:VSANumber>
			</appinfo>
			<documentation>URL of Start Page</documentation>
		</annotation>
	</element>
	<element name = "Bandwidth-Min-Up" type = "int">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>5</WISPr:VSANumber>
			</appinfo>
			<documentation>Minimum Transmit Rate (b/s)</documentation>
		</annotation>
	</element>
	<element name = "Bandwidth-Min-Down" type = "int">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>6</WISPr:VSANumber>
			</appinfo>
			<documentation>Minimum Receive Rate (b/s)</documentation>
		</annotation>
	</element>
	<element name = "Bandwidth-Max-Up" type = "int">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>7</WISPr:VSANumber>
			</appinfo>
			<documentation>Maximum Transmit Rate (b/s)</documentation>
		</annotation>
	</element>
	<element name = "Bandwidth-Max-Down" type = "int">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>8</WISPr:VSANumber>
			</appinfo>
			<documentation>Maximum Receive Rate (b/s)</documentation>
		</annotation>
	</element>
	<element name = "Session-Terminate-Time" type = "dateTime">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>9</WISPr:VSANumber>
			</appinfo>
			<documentation>YYYY-MM-DDhh:mm:ssTZD</documentation>
		</annotation>
	</element>
	<element name = "Session-Terminate-End-Of-Day" type = "boolean">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>10</WISPr:VSANumber>
			</appinfo>
			<documentation>Flag zeor or one indicating termination rule.</documentation>
		</annotation>
	</element>
	<element name = "Billing-Class-Of-Service" type = "string">
		<annotation>
			<appinfo>
				<ipdr:reference>Wi-Fi Alliance - Wireless ISP Roaming (WISPr) Release Date: February 2003 Version 1.0</ipdr:reference>
				<RADIUS:typecode>26</RADIUS:typecode>
				<RADIUS:IANAPEN>14122</RADIUS:IANAPEN>
				<WISPr:VSANumber>11</WISPr:VSANumber>
			</appinfo>
			<documentation>Text string indicating service type.</documentation>
		</annotation>
	</element>
</schema>