c_ipdrbase_2.0.0/test/testdata/testcase6/VoIP3.0-A.0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.0.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.ipdr.org/namespaces/ipdr"
	 xmlns:ipdr = "http://www.ipdr.org/namespaces/ipdr"
	 version = "3.0"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<include schemaLocation = "IPDRDoc3.0.xsd"/>
	<element name = "subscriberID" type = "string"/>
	<element name = "hostname" type = "string"/>
	<element name = "ipAddress" type = "ipdr:ipV4Addr"/>
	<element name = "startTime" type = "ipdr:dateTimeMsec"/>
	<element name = "endTime" type = "ipdr:dateTimeMsec"/>
	<element name = "timeZoneOffset" type = "int"/>
	<element name = "callCompletionCode" type = "string"/>
	<element name = "originalDestinationId" type = "string"/>
	<element name = "uniqueCallId" type = "string"/>
	<element name = "imsiIngress" type = "int"/>
	<element name = "esnIngress" type = "int"/>
	<element name = "callProgressState" type = "int"/>
	<element name = "disconnectReason" type = "string"/>
	<element name = "destinationId" type = "string"/>
	<element name = "thirdPartyId" type = "string"/>
	<element name = "ani" type = "string"/>
	<element name = "oLIiiDigit" type = "string"/>
	<element name = "iiDigits" type = "string"/>
	<element name = "dnis" type = "string"/>
	<element name = "pin" type = "string"/>
	<element name = "serviceConsumerType" type = "string"/>
	<element name = "startAccessTime" type = "ipdr:dateTimeMsec"/>
	<element name = "endAccessTime" type = "ipdr:dateTimeMsec"/>
	<element name = "callSetupDuration" type = "int"/>
	<element name = "callDuration" type = "int"/>
	<element name = "totalDuration" type = "int"/>
	<element name = "tearDownDuration" type = "int"/>
	<element name = "averagePacketLatency" type = "int"/>
	<element name = "type" type = "string"/>
	<element name = "paymentType" type = "string"/>
	<element name = "feature" type = "string"/>
	<element name = "codec" type = "string"/>
	<element name = "silenceCompressionMode" type = "string"/>
	<element name = "modem" type = "string"/>
	<element name = "supplementaryService" type = "string"/>
	<element name = "extendedReasonCode" type = "string"/>
	<element name = "disconnectLocation" type = "string"/>
	<element name = "proprietaryErrorCode" type = "int"/>
	<element name = "unitsConsumed" type = "int"/>
	<element name = "inboundByteCount" type = "int"/>
	<element name = "outboundByteCount" type = "int"/>
	<element name = "inboundPacketCount" type = "int"/>
	<element name = "outboundPacketCount" type = "int"/>
	<element name = "inboundLostPacketCount" type = "int"/>
	<element name = "outboundLostPacketCount" type = "int"/>
	<element name = "inboundRxmtPacketCount" type = "int"/>
	<element name = "outboundRxmtPacketCount" type = "int"/>
	<element name = "subscribedQoSClasses" type = "int"/>
	<element name = "callClarityIndex" type = "int"/>
	<element name = "voiceQualityIndex" type = "int"/>
	<element name = "transmissionRatingRFactor" type = "int">
		<annotation>
			<documentation>
				The E-Model Quality Rating Factor, per ITU-T Recommendation 
				G.107, "The E-Model, A Computational Model for Use in 
				Transmission Planning", R=100 (excellent) to 0 (bad).
			
			</documentation>
		</annotation>
	</element>
	<element name = "userPerceivedRFactor" type = "integer">
		<annotation>
			<documentation>
				Alternative user perceived R factor derived from E-Model
				and IP network performance statistics.
				See ETSI TS-101-329-5 V1.1.1 (2000-11), Annex-E.
				R=100 (excellent) to 0 (bad).
			
			</documentation>
		</annotation>
	</element>
	<element name = "faxPerformanceMetric" type = "int"/>
	<element name = "faxPageTxCount" type = "int"/>
	<element name = "faxPageRxCount" type = "int"/>
	<element name = "packetLossPercentage" type = "float"/>
	<element name = "outOfSequencePackets" type = "int"/>
	<element name = "correctSequencePackets" type = "int"/>
	<element name = "packetDelayVariation" type = "int"/>
	<element name = "ipAddressIngressDevice" type = "string"/>
	<element name = "ipAddressEgressDevice" type = "string"/>
	<element name = "portNumber" type = "string"/>
	<element name = "imsiEngress" type = "string"/>
	<element name = "esnEgress" type = "string"/>
	<element name = "homeLocationIngress" type = "string"/>
	<element name = "homeLocationIdEgress" type = "string"/>
	<complexType name = "IPDR-VoIP-Type">
		<complexContent>
			<extension base = "ipdr:IPDRType">
				<sequence>
					<element ref = "ipdr:subscriberID"/>
					<element ref = "ipdr:hostname"/>
					<element ref = "ipdr:ipAddress"/>
					<element ref = "ipdr:startTime"/>
					<element ref = "ipdr:endTime"/>
					<element ref = "ipdr:timeZoneOffset"/>
					<element ref = "ipdr:callCompletionCode"/>
					<element ref = "ipdr:originalDestinationId"/>
					<element ref = "ipdr:uniqueCallId"/>
					<element ref = "ipdr:imsiIngress" minOccurs = "0"/>
					<element ref = "ipdr:esnIngress" minOccurs = "0"/>
					<element ref = "ipdr:callProgressState" minOccurs = "0"/>
					<element ref = "ipdr:disconnectReason" minOccurs = "0"/>
					<element ref = "ipdr:destinationId" minOccurs = "0"/>
					<element ref = "ipdr:thirdPartyId" minOccurs = "0"/>
					<element ref = "ipdr:ani" minOccurs = "0"/>
					<element ref = "ipdr:oLIiiDigit" minOccurs = "0"/>
					<element ref = "ipdr:iiDigits" minOccurs = "0"/>
					<element ref = "ipdr:dnis" minOccurs = "0"/>
					<element ref = "ipdr:pin" minOccurs = "0"/>
					<element ref = "ipdr:serviceConsumerType" minOccurs = "0"/>
					<element ref = "ipdr:startAccessTime" minOccurs = "0"/>
					<element ref = "ipdr:endAccessTime" minOccurs = "0"/>
					<element ref = "ipdr:callSetupDuration" minOccurs = "0"/>
					<element ref = "ipdr:callDuration" minOccurs = "0"/>
					<element ref = "ipdr:totalDuration" minOccurs = "0"/>
					<element ref = "ipdr:tearDownDuration" minOccurs = "0"/>
					<element ref = "ipdr:averagePacketLatency" minOccurs = "0"/>
					<element ref = "ipdr:type" minOccurs = "0"/>
					<element ref = "ipdr:paymentType" minOccurs = "0"/>
					<element ref = "ipdr:feature" minOccurs = "0" maxOccurs = "unbounded"/>
					<element ref = "ipdr:codec" minOccurs = "0"/>
					<element ref = "ipdr:silenceCompressionMode" minOccurs = "0"/>
					<element ref = "ipdr:modem" minOccurs = "0"/>
					<element ref = "ipdr:supplementaryService" minOccurs = "0"/>
					<element ref = "ipdr:extendedReasonCode" minOccurs = "0"/>
					<element ref = "ipdr:disconnectLocation" minOccurs = "0"/>
					<element ref = "ipdr:proprietaryErrorCode" minOccurs = "0"/>
					<element ref = "ipdr:unitsConsumed"/>
					<element ref = "ipdr:inboundByteCount" minOccurs = "0"/>
					<element ref = "ipdr:outboundByteCount" minOccurs = "0"/>
					<element ref = "ipdr:inboundPacketCount" minOccurs = "0"/>
					<element ref = "ipdr:outboundPacketCount" minOccurs = "0"/>
					<element ref = "ipdr:inboundLostPacketCount" minOccurs = "0"/>
					<element ref = "ipdr:outboundLostPacketCount" minOccurs = "0"/>
					<element ref = "ipdr:inboundRxmtPacketCount" minOccurs = "0"/>
					<element ref = "ipdr:outboundRxmtPacketCount" minOccurs = "0"/>
					<element ref = "ipdr:subscribedQoSClasses" minOccurs = "0"/>
					<element ref = "ipdr:callClarityIndex" minOccurs = "0"/>
					<element ref = "ipdr:voiceQualityIndex" minOccurs = "0"/>
					<element ref = "ipdr:transmissionRatingRFactor" minOccurs = "0"/>
					<element ref = "ipdr:userPerceivedRFactor" minOccurs = "0"/>
					<element ref = "ipdr:faxPerformanceMetric" minOccurs = "0"/>
					<element ref = "ipdr:faxPageTxCount" minOccurs = "0"/>
					<element ref = "ipdr:faxPageRxCount" minOccurs = "0"/>
					<element ref = "ipdr:packetLossPercentage" minOccurs = "0"/>
					<element ref = "ipdr:outOfSequencePackets" minOccurs = "0"/>
					<element ref = "ipdr:correctSequencePackets" minOccurs = "0"/>
					<element ref = "ipdr:packetDelayVariation" minOccurs = "0"/>
					<element ref = "ipdr:ipAddressIngressDevice" minOccurs = "0"/>
					<element ref = "ipdr:ipAddressEgressDevice" minOccurs = "0"/>
					<element ref = "ipdr:portNumber" minOccurs = "0"/>
					<element ref = "ipdr:imsiEngress" minOccurs = "0"/>
					<element ref = "ipdr:esnEgress" minOccurs = "0"/>
					<element ref = "ipdr:homeLocationIngress" minOccurs = "0"/>
					<element ref = "ipdr:homeLocationIdEgress" minOccurs = "0"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
</schema>